<div class="footer-section">

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="copy-right">
                    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
                        alt="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" />
                    <button class="join-comuntiy text-info">
                        Join the Community
                    </button>
                </div>
            </div>
            <div class="col-sm">
                <div class="copy-right">
                    <h5> THE BASICS </h5>
                    <ul>
                        <li>About TMDB</li>
                        <li>Contact Us</li>
                        <li>Support Forums</li>
                        <li>API</li>
                        <li>System Status</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="copy-right">
                    <h5> GET INVOLVED </h5>

                    <ul>
                        <li>Contribution Bible</li>
                        <li>Add New Movie</li>
                        <li>Add New TV Show</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="copy-right">
                    <h5>COMMUNITY </h5>

                    <ul>
                        <li>Guidelines</li>
                        <li>Discussions</li>
                        <li>Leaderboard</li>
                        <li>Twitter</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="copy-right">
                    <h5>LEGAL</h5>
                    <ul>
                        <li>Terms of Use</li>
                        <li>API Terms of Use</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>