.no-data {
  padding: 20px;
  margin-top: 160px;
  margin-bottom: 150px;
  min-height: 500px;
}

.no-data-button {
  margin-top: 25px;
  margin-bottom: 25px;
}

.collection-film {
  align-items: center;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;

}

.section-pages {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px dotted gray;
}

.error {
  min-height: 600px;
}

.error-message {
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.item {
  color: #999999;
}

.item:focus {
  background-color: #cf0652;
  color: white;
  border: .2rem solid pink;
}

.item:active {
  color: rgba(10, 10, 10, .5);
}

.active {
  color: rgba(10, 10, 10, .5) !important;
}

.clicked {
  color: white;
  font-weight: bold;
}
